.select2-container {
	POSITION: relative; ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: top
}
.select2-container {
	BOX-SIZING: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -khtml-box-sizing: border-box
}
.select2-drop {
	BOX-SIZING: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -khtml-box-sizing: border-box
}
.select2-search {
	BOX-SIZING: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -khtml-box-sizing: border-box
}
.select2-search INPUT {
	BOX-SIZING: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -khtml-box-sizing: border-box
}
.select2-container .select2-choice {
	BORDER-BOTTOM: #aaa 1px solid; POSITION: relative; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0); BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 26px; COLOR: #444; OVERFLOW: hidden; BORDER-TOP: #aaa 1px solid; BORDER-RIGHT: #aaa 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box
}
.select2-drop-above.select2-container .select2-choice {
	BORDER-BOTTOM-COLOR: #aaa; FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); -webkit-border-radius: 0px 0px 4px 4px; -moz-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px
}
.select2-container .select2-choice SPAN {
	TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; MARGIN-RIGHT: 26px; -o-text-overflow: ellipsis
}
.select2-container .select2-choice ABBR {
	BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; WIDTH: 12px; DISPLAY: block; BACKGROUND: url(select2.png) no-repeat right top; HEIGHT: 12px; FONT-SIZE: 1px; BORDER-TOP: 0px; TOP: 8px; CURSOR: pointer; RIGHT: 26px; BORDER-RIGHT: 0px; TEXT-DECORATION: none
}
.select2-container .select2-choice ABBR:hover {
	BACKGROUND-POSITION: right -11px; CURSOR: pointer
}
.select2-drop {
	Z-INDEX: 9999; BORDER-BOTTOM: #aaa 1px solid; POSITION: absolute; BORDER-LEFT: #aaa 1px solid; MARGIN-TOP: -1px; WIDTH: 100%; BACKGROUND: #fff; COLOR: #000; BORDER-TOP: 0px; TOP: 100%; BORDER-RIGHT: #aaa 1px solid; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15); -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15); box-shadow: 0 4px 5px rgba(0, 0, 0, .15); -o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15)
}
.select2-drop-above.select2-drop {
	BORDER-BOTTOM: 0px; MARGIN-TOP: 1px; BORDER-TOP: #aaa 1px solid; -webkit-border-radius: 4px 4px 0px 0px; -moz-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px; -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15); -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15); box-shadow: 0 -4px 5px rgba(0, 0, 0, .15); -o-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15)
}
.select2-container .select2-choice DIV {
	POSITION: absolute; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cccccc', endColorstr = '#eeeeee', GradientType = 0); BORDER-LEFT: #aaa 1px solid; WIDTH: 18px; DISPLAY: block; BACKGROUND: #ccc; HEIGHT: 100%; TOP: 0px; RIGHT: 0px; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box
}
.select2-container .select2-choice DIV B {
	WIDTH: 100%; DISPLAY: block; BACKGROUND: url(select2.png) no-repeat 0px 1px; HEIGHT: 100%
}
.select2-search {
	Z-INDEX: 10000; MARGIN: 0px; MIN-HEIGHT: 26px; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; DISPLAY: inline-block; WHITE-SPACE: nowrap
}
.select2-search-hidden {
	POSITION: absolute; DISPLAY: block; LEFT: -10000px
}
.select2-search INPUT {
	BORDER-BOTTOM: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; MIN-HEIGHT: 26px; PADDING-LEFT: 5px; OUTLINE-WIDTH: 0px; WIDTH: 100%; PADDING-RIGHT: 20px; FONT-FAMILY: sans-serif; BACKGROUND: url(select2.png) #fff no-repeat 100% -22px; HEIGHT: auto !important; FONT-SIZE: 1em; BORDER-TOP: #aaa 1px solid; BORDER-RIGHT: #aaa 1px solid; PADDING-TOP: 4px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none
}
.select2-drop-above.select2-drop .select2-search INPUT {
	MARGIN-TOP: 4px
}
.select2-search INPUT.select2-active {
	BACKGROUND: url(spinner.gif) #fff no-repeat 100% 50%
}
.select2-container-active .select2-choice {
	BORDER-BOTTOM: #5897fb 1px solid; BORDER-LEFT: #5897fb 1px solid; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; BORDER-TOP: #5897fb 1px solid; BORDER-RIGHT: #5897fb 1px solid; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3); box-shadow: 0 0 5px rgba(0, 0, 0, .3); -o-box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}
.select2-container-active .select2-choices {
	BORDER-BOTTOM: #5897fb 1px solid; BORDER-LEFT: #5897fb 1px solid; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; BORDER-TOP: #5897fb 1px solid; BORDER-RIGHT: #5897fb 1px solid; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3); box-shadow: 0 0 5px rgba(0, 0, 0, .3); -o-box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}
.select2-dropdown-open .select2-choice {
	BORDER-BOTTOM: transparent 1px solid; FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); BORDER-LEFT: #aaa 1px solid; BACKGROUND-COLOR: #eee; BORDER-TOP: #aaa 1px solid; BORDER-RIGHT: #aaa 1px solid; -webkit-box-shadow: 0 1px 0 #fff inset; -moz-box-shadow: 0 1px 0 #fff inset; box-shadow: 0 1px 0 #fff inset; -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0; -o-box-shadow: 0 1px 0 #fff inset; -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0
}
.select2-dropdown-open .select2-choice DIV {
	BORDER-LEFT: medium none; BACKGROUND: none transparent scroll repeat 0% 0%
}
.select2-dropdown-open .select2-choice DIV B {
	BACKGROUND-POSITION: -18px 1px
}
.select2-results {
	POSITION: relative; PADDING-BOTTOM: 0px; OVERFLOW-X: hidden; OVERFLOW-Y: auto; MARGIN: 4px 4px 4px 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; MAX-HEIGHT: 200px; PADDING-TOP: 0px
}
.select2-results UL.select2-result-sub {
	MARGIN: 0px
}
.select2-results UL.select2-result-sub > LI .select2-result-label {
	PADDING-LEFT: 20px
}
.select2-results UL.select2-result-sub UL.select2-result-sub > LI .select2-result-label {
	PADDING-LEFT: 40px
}
.select2-results UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub > LI .select2-result-label {
	PADDING-LEFT: 60px
}
.select2-results UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub > LI .select2-result-label {
	PADDING-LEFT: 80px
}
.select2-results UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub > LI .select2-result-label {
	PADDING-LEFT: 100px
}
.select2-results UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub > LI .select2-result-label {
	PADDING-LEFT: 110px
}
.select2-results UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub UL.select2-result-sub > LI .select2-result-label {
	PADDING-LEFT: 120px
}
.select2-results LI {
	LIST-STYLE-TYPE: none; DISPLAY: list-item; LIST-STYLE-IMAGE: none
}
.select2-results LI.select2-result-with-children > .select2-result-label {
	FONT-WEIGHT: bold
}
.select2-results .select2-result-label {
	PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; CURSOR: pointer; PADDING-TOP: 3px
}
.select2-results .select2-highlighted {
	BACKGROUND: #3875d7; COLOR: #fff
}
.select2-results LI EM {
	FONT-STYLE: normal; BACKGROUND: #feffde
}
.select2-results .select2-highlighted EM {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.select2-results .select2-no-results {
	DISPLAY: list-item; BACKGROUND: #f4f4f4
}
.select2-results .select2-searching {
	DISPLAY: list-item; BACKGROUND: #f4f4f4
}
.select2-results .select2-selection-limit {
	DISPLAY: list-item; BACKGROUND: #f4f4f4
}
.select2-results .select2-disabled {
	DISPLAY: none
}
.select2-active.select2-more-results {
	BACKGROUND: url(spinner.gif) #f4f4f4 no-repeat 100% 50%
}
.select2-more-results {
	DISPLAY: list-item; BACKGROUND: #f4f4f4
}
.select2-container-disabled.select2-container .select2-choice {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BACKGROUND-COLOR: #f4f4f4; BORDER-TOP: #ddd 1px solid; CURSOR: default; BORDER-RIGHT: #ddd 1px solid
}
.select2-container-disabled.select2-container .select2-choice DIV {
	BACKGROUND-IMAGE: none; BORDER-LEFT: 0px; BACKGROUND-COLOR: #f4f4f4
}
.select2-container-multi .select2-choices {
	BORDER-BOTTOM: #aaa 1px solid; POSITION: relative; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: auto !important; OVERFLOW: hidden; BORDER-TOP: #aaa 1px solid; CURSOR: text; BORDER-RIGHT: #aaa 1px solid; PADDING-TOP: 0px
}
.select2-container-multi .select2-choices {
	MIN-HEIGHT: 26px
}
.select2-container-active.select2-container-multi .select2-choices {
	BORDER-BOTTOM: #5897fb 1px solid; BORDER-LEFT: #5897fb 1px solid; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; BORDER-TOP: #5897fb 1px solid; BORDER-RIGHT: #5897fb 1px solid; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3); box-shadow: 0 0 5px rgba(0, 0, 0, .3); -o-box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}
.select2-container-multi .select2-choices LI {
	LIST-STYLE-TYPE: none; FLOAT: left; LIST-STYLE-IMAGE: none
}
.select2-container-multi .select2-choices .select2-search-field {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
.select2-container-multi .select2-choices .select2-search-field INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 1px 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 5px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 5px; FONT-FAMILY: sans-serif; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 15px; COLOR: #666; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 5px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -o-box-shadow: none
}
.select2-container-multi .select2-choices .select2-search-field INPUT.select2-active {
	BACKGROUND: url(spinner.gif) #fff no-repeat 100% 50%
}
.select2-default {
	COLOR: #999 !important
}
.select2-container-multi .select2-choices .select2-search-choice {
	BORDER-BOTTOM: #aaaaaa 1px solid; POSITION: relative; FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); BORDER-LEFT: #aaaaaa 1px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: 13px; BACKGROUND-COLOR: #e4e4e4; MARGIN: 3px 0px 3px 5px; PADDING-LEFT: 18px; PADDING-RIGHT: 5px; COLOR: #333; BORDER-TOP: #aaaaaa 1px solid; CURSOR: default; BORDER-RIGHT: #aaaaaa 1px solid; PADDING-TOP: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05); box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box
}
.select2-container-multi .select2-choices .select2-search-choice SPAN {
	CURSOR: default
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
	BACKGROUND: #d4d4d4
}
.select2-search-choice-close {
	POSITION: absolute; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 12px; DISPLAY: block; BACKGROUND: url(select2.png) no-repeat right top; HEIGHT: 13px; FONT-SIZE: 1px; TOP: 4px; RIGHT: 3px
}
.select2-container-multi .select2-search-choice-close {
	LEFT: 3px
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
	BACKGROUND-POSITION: right -11px
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
	BACKGROUND-POSITION: right -11px
}
.select2-container-disabled.select2-container-multi .select2-choices {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BACKGROUND-COLOR: #f4f4f4; BORDER-TOP: #ddd 1px solid; CURSOR: default; BORDER-RIGHT: #ddd 1px solid
}
.select2-container-disabled.select2-container-multi .select2-choices .select2-search-choice {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f4f4f4; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 3px
}
.select2-container-disabled.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
	DISPLAY: none
}
.select2-result-selectable .select2-match {
	TEXT-DECORATION: underline
}
.select2-result-unselectable .select2-result-selectable .select2-match {
	TEXT-DECORATION: underline
}
.select2-result-unselectable .select2-match {
	TEXT-DECORATION: none
}
.select2-offscreen {
	POSITION: absolute; LEFT: -10000px
}
